.playfair {
  font-family: 'PlayFair';
}

.playfair-display-400 {
  font-family: "Playfair Display";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.playfair-display-100 {
  font-family: "Playfair Display";
  font-optical-sizing: auto;
  font-style: normal;
}

.satoshi-light {
  font-family: 'Satoshi-Light';
  font-weight: 300;
  /* Optional: Specify weight if needed */
}

.satoshi-regular {
  font-family: 'Satoshi-Regular';
  font-weight: 400;
  /* Optional: Specify weight if needed */
}

.sans-serif {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

}


.satoshi-bold {
  font-family: 'Satoshi-Bold';
  font-weight: 700;
  /* Optional: Specify weight if needed */
}

.satoshi-medium {
  font-family: 'Satoshi-Medium';
  font-weight: 500;
  /* Optional: Specify weight if needed */
}

.satoshi-black {
  font-family: 'Satoshi-Black';
  font-weight: 900;
  /* Optional: Specify weight if needed */
}

body {
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  /* Prevents bounce */
  /* scroll-behavior: smooth; */
}

#navbar {
  transition: background-color 0.3s ease;
  /* Adjust the duration and easing as needed */
}

.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-33.33%);
  }
}

.marquee-content p {
  padding-right: 100%;
}

.shopify-policy__container {
  max-width: 100% !important;
  width: 100% !important;
  padding: 0 0 !important;
}

.shopify-policy__title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.shopify-policy__container .rte {
  line-height: 1.7;
  font-size: 16px;
}

.shopify-policy__container h1,
.shopify-policy__container h2,
.shopify-policy__container h3 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.shopify-policy__container p {
  margin-bottom: 1rem;
}