<div id="product-information" class=" text-2xl">
  <div class="lg:w-4/6 md:w-11/12 mx-auto bg-red-500 ">
vhbf

</div>


</div>

{% schema %}
{
  "name": "Product Information",
  "settings": []
}
{% endschema %}