<div class=" w-full">
  <img
    src="{{ "placeholder.png" | asset_url }}"
    alt="{{ heading }}"
    height=""
    width=""
    class="w-full"
  >
  <div class="py-96 bg-red-600 ">dbyhhued</div>
  <div class="absolute top-1/2 right-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-red-500  p-6 text-black z-50">
    <h2 class="text-2xl font-bold mb-1">{{ category }}</h2>
    <p class="text-sm mb-2">{{ subheading }}</p>
    {% if signature %}
    {% endif %}
  </div>
</div>